
/**	op-unit-login:/webpack/css/login.css
 *
 * @created     2025-11-25
 * @version     1.0
 * @package     op-unit-login
 * @author      Tomoaki Nagahara
 * @copyright   Tomoaki Nagahara All rights reserved.
 */

.error {
	color: var(--op-color-error);
}
